# Template that performs the checkout and fixes a number of small issues we have found between the vsts <-> github integration

parameters:

- name: isPR
  type: boolean

- name: repositoryAlias
  type: string
  default: self

- name: commit
  type: string
  default: HEAD

steps:

- template: sdk-unified/steps/checkout/v1.yml@yaml-templates
  parameters:
    resource: ${{ parameters.repositoryAlias }}
    commit: ${{ parameters.commit }}
    clean: true
    submodules: recursive
    path: s/$(BUILD_REPOSITORY_TITLE)
    fetchTags: false

# some bots don't seem to have pwsh installed, so make sure it is
- powershell: |
    if (-not $(where.exe pwsh)) {
      Write-Host "pwsh not found: $LASTEXITCODE"
      Write-Host "PATH: $env:PATH"
      $url = "https://github.com/PowerShell/PowerShell/releases/download/v$env:POWERSHELL_VERSION/PowerShell-$env:POWERSHELL_VERSION-win-x64.msi"
      $output = "$env:TEMP\PowerShell.msi"
      Write-Host "deleting any temporary msi files: $LASTEXITCODE"
      Remove-Item -Force $output -ErrorAction Ignore
      Write-Host "downloading $url to $output result: $LASTEXITCODE"
      Invoke-WebRequest -Uri $url -OutFile $output
      Write-Host "installing $output result: $LASTEXITCODE"
      msiexec.exe /package $output /quiet ADD_EXPLORER_CONTEXT_MENU_OPENPOWERSHELL=1 ENABLE_PSREMOTING=1 REGISTER_MANIFEST=1
      Write-Host "install completed: $LASTEXITCODE, updating PATH"
      Write-Host "##vso[task.prependpath]$($Env:ProgramFiles)\PowerShell\7\"
    } else {
      Write-Host "pwsh is already installed: $LASTEXITCODE"
    }
    exit 0
  displayName: 'Install PowerShell Core'
  condition: and(succeeded(), eq(variables['Agent.OS'], 'Windows_NT'))
  env:
    POWERSHELL_VERSION: 7.4.0

- pwsh: ./undo_github_merge.ps1 -SourceBranch "$(Build.SourceBranch)" -IsPr "$Env:IS_PR"
  name: fix_commit
  displayName: "Undo Github merge"
  workingDirectory: $(System.DefaultWorkingDirectory)/$(BUILD_REPOSITORY_TITLE)/tools/devops/automation/scripts
  timeoutInMinutes: 15
  env:
    IS_PR: and(eq(parameters.isPR, 'true'), not(startsWith(variables['Build.SourceBranch'], 'refs/pull')))

- checkout: macios-adr
  clean: true
  fetchDepth: 0
  persistCredentials: true
  fetchTags: false

- checkout: yaml-templates
  clean: true
  fetchTags: false
